.icon-button {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-alignment: CENTER;
    -fx-content-display: GRAPHIC_ONLY;
    /*-fx-padding: 5px; !* Adjust padding as needed *!*/
}

/* Change color when hovered */
.icon-button:hover {
    -fx-background-color: rgba(0, 0, 0, 0.1);
}

/* Change color or scale when clicked */
.icon-button:pressed {
    -fx-background-color: rgba(0, 0, 0, 0.2);
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
}

.icon-toggle-button:selected {
    -fx-background-color: rgba(0, 0, 0, 0.2);
    -fx-text-fill: white;
}

/* Optional: Change the color when hovering while selected */
.icon-toggle-button:selected:hover {
    -fx-background-color: rgba(0, 0, 0, 0.1);
}