/*.root {*/
/*    -icons-color: black;*/
/*}*/

.glyph-icon {
    /*-fx-text-fill: -icons-color;*/
    /*-fx-fill: -icons-color;*/
    -fx-fill: -fx-text-base-color;
    /*-glyph-size: 14px;*/
}

/*.favorite-icon {*/
/*    -icons-color: #2ec1e3;*/
/*}*/

/*.repeat-icon {*/
/*    -icons-color: #00d000;*/
/*}*/

/*.shuffle-icon {*/
/*    -icons-color: #00d000;*/
/*}*/

.menu-item .graphic-container {
    -fx-alignment: CENTER;
    -fx-padding: 0 10px 0 0;
}