.glyph-icon {
    /*-fx-text-fill: -icons-color;*/
    /*-fx-fill: -icons-color;*/
    -fx-fill: -fx-text-base-color;
    /*-glyph-size: 14px;*/
}

.menu-item .graphic-container {
    -fx-alignment: CENTER;
    -fx-padding: 0 10px 0 0;
}