.root {
    -icons-color: black;
}

.glyph-icon {
    -fx-text-fill: -icons-color;
    -fx-fill: -icons-color;
    /*-glyph-size: 14px;*/
}

.favorite-icon {
    -icons-color: #2ec1e3;
}

.repeat-icon {
    -icons-color: #00d000;
}

.shuffle-icon {
    -icons-color: #00d000;
}